<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803275618665-1nvdcliskgdke8a6u2uia26dipmvtvn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803275618665-1nvdcliskgdke8a6u2uia26dipmvtvn1</string>
	<key>API_KEY</key>
	<string>AIzaSyDjruo_ZxxqTyczoZZk36MglWZ0AWSqoDE</string>
	<key>GCM_SENDER_ID</key>
	<string>803275618665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ove.InstagramFull</string>
	<key>PROJECT_ID</key>
	<string>instagramfull-2c9b1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfull-2c9b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803275618665:ios:6b33bd96178363c5</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfull-2c9b1.firebaseio.com</string>
</dict>
</plist>